@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* FIXME: Recent cards appear above nav at small screen sizes */

:root {
    --electric-green: rgb(26, 197, 140);
    --background: #f0f0f0;
    --background2: rgb(27, 27, 27);
    --card1: white;
    --card2: rgb(27, 27, 27);
    --font1: rgb(27, 27, 27);
    --font2: #f0f0f0;
    --border: none;
    --box-shadow: 5px 5px 1em gray;
    --box-shadow-hover: 5px 5px 2em gray;

    --scale-hover: scale(1.01);

    --nav-spacing: .35em;
    --card-padding: 1em;

    --main-transition: all .25s;

    --background-img: url("../images/PortfolioBackgroundDark.png")
}

/* ====================================================================== 
                            General styles
 ====================================================================== */

 * {
    /* Global whitespace reset */
    padding: 0;
    margin: 0;
 }

body {
    width: clamp(30em, 50vw, 60em);
    margin: auto;
    background-color: var(--background);
    background-image: var(--background-img);
    background-size: 100%;
    color: var(--font1);
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 120%;
}

li {
    list-style: none;
}

*[data-visible="true"] {
    display: block;
}

*[data-visible="false"] {
    display: none;
}

/* ====================================================================== 
                            Navbar styles
 ====================================================================== */

 nav {
    position: fixed;
    right: 2em;
    top: 2em;
    transition: var(--main-transition);
}

.nav-toggler {
    display: none;
}

nav > ul > li {
    position: relative;
    padding-bottom: var(--nav-spacing);
    font-size: 1.5em;
    text-align: center;
    color: var(--font1);
    transition: var(--main-transition);
}

nav > ul > li > a, nav > ul i {
    color: var(--font1);
    transition: var(--main-transition); 
    cursor: pointer;
 }

nav > ul a:hover, nav > ul i:hover {
    color: var(--electric-green);
    cursor: pointer;
}

/* Set fly out states for nav */

nav .flyout::before {
    position: absolute;
    padding-bottom: var(--nav-spacing);
    transform: scaleX(0%);
    transform-origin: right;
    transition: transform .25s ease;
}

nav li:hover .flyout::before {
    transform: scaleX(100%);
}

.contact::before {
    content: "Contact";
    left: -275%;
    bottom: 0;
}
.github::before {
    content: "GitHub";
    left: -240%;
    bottom: 0;
}
.linkedin::before {
    content: "Linkedin";
    left: -280%;
    bottom: 0;
}
.artstation::before {
    content: "ArtStation";
    left: -350%;
    bottom: 0;
}
.theme::before {
    content: "Theme";
    left: -225%;
    bottom: 0;
}

/* ====================================================================== 
                            Banner styles
 ====================================================================== */

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 5em; 
    margin-left: 1em;
}

.banner > header > h1 {
    font-size: clamp(3em, 6vw, 7em);
}

.banner > header > p {
    font-size: clamp(2em, 5vw, 3.5em);
}

/* ====================================================================== 
                            About styles
 ====================================================================== */

 .about {
     margin: 1em;
     background-color: var(--card1);
     border-radius: .5em;
     box-shadow: var(--box-shadow);
     border: var(--border);
     transition: var(--main-transition);
 }

 .about header {
     display: flex;
     padding: var(--card-padding);
     border: var(--border);
     border-bottom: 5px solid var(--electric-green);
     border-radius: .5em .5em 0 0;
     background-color: var(--card2);
 }

 .about header > img {
     flex: 1;
     height: 100%;
     width: 100%;
     border: var(--border);
     border-radius: 50%;
     transition: var(--main-transition);
 }

 .about header > h1 {
     flex: 3;
     align-self: center;
     width: fit-content;
     padding-bottom: 0;
     margin: .25em;
     font-size: clamp(4em, 8vw, 7em);
     color: var(--font2);
     border-bottom: 3px solid var(--font2);
 }

 .about section.info {
     padding: var(--card-padding);
 }

 .about section.info > * {
     line-height: 150%;
 }

 .about section p, .about section ul {
     margin-bottom: .5em;
 }

 .about section.info > ul > li {
     list-style: circle;
     margin-left: 1.5em;
 }

 .about header > img:hover {
     transform: rotate(5deg);
 }

 .about:hover {
     box-shadow: var(--box-shadow-hover);
     transform: var(--scale-hover);
 }

 /* ====================================================================== 
                            Skills styles
 ====================================================================== */

 .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vh 1em;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5em;
    background-color: var(--card1);
    transition: var(--main-transition);
 }

 .skills header {
     padding: 3em 2em !important;
     border-left: 5px solid var(--electric-green);
 }

 .skills header > h1 {
     font-size: clamp(1.75em, 3vw, 4em);
     border-bottom: 3px solid var(--electric-green);
 }

 .skills header > p {
     font-size: clamp(1.25rem, 2vw, 2.5rem);
     line-height: 150%;
 }

 .skills ul {
    margin: 0;
    display: grid;
    padding: 1em;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: .5em 0 0 .5em;
    border: var(--border);
    border-right: none;
    background-color: var(--card2);
    color: var(--font2);
 }

 .skills ul > li {
     align-self: center;
     padding: clamp(.1em, .5vw, .2em);
     margin: .35em;
     font-size: .35em;
     font-size: clamp(1em, 2vw, 1.5em);
     font-style: italic;
     border-radius: .25em;
     transition: var(--main-transition);
 }

 .skills header[id] > * {
     animation: fade 1s forwards;
 }

 .skills:hover {
    box-shadow: var(--box-shadow-hover);
    transform: var(--scale-hover); 
    cursor: default;
 }

 .skills ul > li:hover {
    color: var(--electric-green);
    background-color: var(--font2);
    cursor: pointer;
  }

  @keyframes fade {
     from {
         opacity: 0%;
     } 
     to {
         opacity: 100%;
     }
  }
 /* ====================================================================== 
                            Recent styles
 ====================================================================== */ 

 .recent {
    margin-top: 10vh;
 }

 .recent header {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
 }

 .recent header > h1 {
    width: fit-content;
    padding: .25em;
    background-color: var(--card2);
    color: var(--font2);
    font-size: 3em;
    border: var(--border);
    border-radius: .25em;
    box-shadow: var(--box-shadow);
    transition: var(--main-transition);
 }

 .recent .recent-project {
    display: flex;
    position: relative;
    width: 75%;
    padding: var(--card-padding);
    margin: auto;
    margin-bottom: 5vh;
    border: var(--border);
    border-radius: .5em;
    background-color: var(--card1);
    box-shadow: var(--box-shadow);
    transition: var(--main-transition);
    text-decoration: none;
    color: var(--font1);
 }

 .recent .recent-project > div:first-child {
     flex: 3;
 }

 .recent .recent-project h2 {
     font-size: 3em;
     border-bottom: 1px solid var(--font1);
     transition: var(--main-transition);
 }

 .recent .recent-project .project-info {
     display: flex;
 }

 .recent .recent-project ul {
     padding: .5em 1em 0 0;
     margin-right: 1em;
     border-right: 1px solid var(--font1);
     transition: var(--main-transition);
 }

 .recent .recent-project li {
     list-style: circle;
     margin-left: 1em;
 }

 .recent-project p {
     padding-top: .5em;
     line-height: 110%;
 }

 .recent .recent-project b {
     position: absolute;
     top: 1rem;
     right: 1rem;
     border-bottom: 3px solid var(--card1);
     font-size: 1.5rem;
     line-height: 85%;
     color: var(--font1);
     text-decoration: none;
     transition: var(--main-transition);
 }

 .recent .recent-project:hover, .recent header h1:hover {
    box-shadow: var(--box-shadow-hover);
    transform: var(--scale-hover); 
 }

 .recent header h1:hover {
     cursor: default;
 }

 .recent .recent-project:hover {
    border-color: var(--electric-green);
    cursor: pointer;
 }

 .recent .recent-project:hover h2 {
     border-bottom-color: var(--electric-green);
 }

 .recent .recent-project:hover ul {
    border-right-color: var(--electric-green);
}

 .recent .recent-project:hover b {
     color: var(--electric-green);
     border-bottom: 3px solid var(--electric-green);
 }

 /* ====================================================================== 
                            Contact styles
 ====================================================================== */ 

 .contact-page {
     position: relative;
     width: 75%;
     margin: 10vh auto;
     border-radius: .5em;
     background-color: var(--card1);
     box-shadow: var(--box-shadow);
     transition: var(--main-transition);
 }

 .contact-page header {
    padding: var(--card-padding);
    border: var(--border);
    border-bottom: 5px solid var(--electric-green);
    border-radius: .5em .5em 0 0;
    background-color: var(--card2); 
    color: var(--font2);
    text-align: center;
}

.contact-page form {
    padding: var(--card-padding);
    overflow: hidden;
    border: var(--border);
    border-top: none;
    border-radius: 0 0 .5em .5em;
}

.contact-page form > * {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: .5em;
    resize: none;
    color: var(--font1);
}

.contact-page form input,
.contact-page form textarea {
    background-color: transparent;
    border: 1px solid var(--font1);
    border-radius: .15em;
    font-family: sans-serif;
    font-size: 1.15rem;
}

.contact-page input[type="submit"] {
    background-color: var(--electric-green);
    color: var(--font2);
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.75rem;
    border: none;
    border-radius: .15em;
    transition: var(--main-transition);
}

.contact-page #contact-back {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 1.75rem;
    color: var(--electric-green);
    background-color: rgb(27, 27, 27);
    border-radius: 50%;
    transition: var(--main-transition);
}

.contact-page input[type="submit"]:hover {
    cursor: pointer;
    transform: var(--scale-hover);
}

.contact-page input[type="submit"]:active { 
    transform: scale(.99);
}

.contact-page:hover {
    box-shadow: var(--box-shadow-hover);
    transform: var(--scale-hover);
}

.contact-page #contact-back:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.contact-page #contact-back:active {
    transform: scale(.9);
}
