
/* ==================================== */

#dash-header {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
}

#profile-img {
    max-width: max(5rem, 7vw);
    border-radius: 50%;
    outline: 2px solid #1AC58C; 
}

#name {
    display: inline;
    font-size: 4rem;
}

/* ==================================== */

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.carousel-list{
    list-style: none;
}

.widget-img[data-visible] {
    opacity: 1;
}


/* can't use position absolute for smaller screen sizes */
.widget-img {
    max-width: 95%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s;
}

.widget-title.lg {
    font-size: 3rem;
}

.widget-title.md {
    font-size: 2rem;
}

#widget-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 90%;
    margin: auto;
    gap: 1.5rem;

    /* outline: 1px solid red; */
}

.widget {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(84, 84, 84, .9);
    transition: transform .25s ease;
}

.widget:hover {
    cursor: pointer;
}

#work-experience {
    grid-column: 6/8;
}

#center-widgets {
    grid-column: 4/6;
    display: grid;
    grid-template-rows: 1fr .75fr;
    transition: transform .25s ease;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform .25s ease;
}

.skill {
    aspect-ratio: 1.75;
}

#about-me {
}

#projects {
    grid-column: 1/4;
}

.widget.lg {
    display: flex;
    flex-direction: column;
}

@media (max-width: 65rem) {
    #widget-grid {
        padding-bottom: 5rem;
    }

    #center-widgets {
        grid-row: 2;
    }

    #projects {
        grid-column: 1/5;
    }

    #work-experience {
        grid-column: 5/8;
    }

    #center-widgets {
        grid-column: 1/8;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1.5rem;
    }

    #skills {
        margin-bottom: 0;
    }
}

@media (max-width: 45rem) {
    #widget-grid {
        padding-bottom: 5rem;
    }

    #center-widgets {
        grid-row: 3;
        color: red;
    }

    #projects {
        grid-column: 1/8;
    }

    #work-experience {
        grid-column: 1/8;
        grid-row: 2;
    }

    #center-widgets {
        grid-column: 1/8;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
    }

    #skills {
        margin-bottom: 0;
    }
}